:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
}

ul {
  list-style: none;
}

/* цвет основного цвета #212121 */
/* вторичный цвет текста #757575 */
/* белый #ffffff */
/* акцент #2196F3 */
/* вторичный цвет фона #2F303A */
/* вторичный цвет фона2 #F5F4FA */

body {
  background-color: var(--white-text-color);
  color: var(--primary-text-color);
}

.logo {
  color: var(--primary-text-color);
}

.logoblue {
  color: var(--accent-color);
}

/* site-nav */
.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.link-studio {
  color: var(--accent-color);
}
/* addres */

.addres .link-addres {
  color: var(--title-text-color);
}
.addres .link-addres:hover,
.addres .link-addres:focus {
  color: var(--accent-color);
}

.section-title {
  color: var(--primary-text-color);
}

/* features */

.features .title {
  color: var(--primary-text-color);
}

.text {
  color: var(--title-text-color);
}
/* work peple */
.title-name {
  color: var(--primary-text-color);
}
.text-work {
  color: var(--title-text-color);
}

/* portfolio poster */
.poster {
  color: var(--primary-text-color);
}
.poster-name {
  color: var(--title-text-color);
}

/* button */
.button-text {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
